@use './abstracts' as *;
@use './base' as *;
@use './components' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 4.5rem;
    --shop-nav-height: 9rem;
    --shop-nav-and-filter-height: 13.5rem;
    --scrollbar-width: 20px;
  }
}

html {
  scroll-padding: var(--nav-height);
}

body {
  font-family: 'Violet Sans', sans-serif;
  background-color: $whiteish-main;
  color: $main-blackish;
}

.body-fixed {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

@media (min-width: 768px){
  .body-fixed {
    width: Calc(100% - var(--scrollbar-width));
  }
}
