@use '../abstracts' as *;

::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  border-left: 1px solid $border-dark-color;
  background-color: $darker-blackish;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $darker-blackish;
  background-color: $whiteish-main;
  &:hover {
    background-color: $pink-darker;
  }
  &:active {
    background-color: $pink-dark;
  }
}