@font-face {
  font-family: 'Violet Sans';
  src: url('VioletSans-Regular.woff')
}
@font-face {
  font-family: 'Halibut Serif';
  src: url('HalibutSerif-Regular.woff2')
}
@font-face {
  font-family: 'Halibut Serif Thin';
  src: url('HalibutSerif-Thin.woff2')
}
@font-face {
  font-family: 'Halibut Serif Expanded';
  src: url('HalibutSerif-Expanded.woff2')
}