$whiteish-main: #ECE6DB;
$whiteish-darker: #E8D6CA;
$whiteish-pink: #E6D4D2;
$pink-darker: #B89088;
$pink-main: #DD9E8D;
$pink-dark: #574A56;
$main-blackish: #211C1B;
$darker-blackish: #111010;
$border-dark-color: #474545;
$gray-light: #E8DCDC;
$gray-dark: #5C5856;